[user]
  name = David Michael
  email = 1.david.michael@gmail.com

[includeIf "gitdir:~/Code/github/"]
  path = ~/Code/github/.gitconfig

[includeIf "gitdir:~/Code/bitbucket/"]
  path = ~/Code/bitbucket/.gitconfig

[includeIf "gitdir:~/Code/azure/"]
  path = ~/Code/azure/.gitconfig

[diff]
	colorMoved = zebra

[rebase]
	autosquash = true
	instructionFormat = (%an <%ae>) %s
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[format]
	pretty = oneline
[credential]
	helper = cache
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg.ssh]
defaultKeyCommand = "ssh-add -L"
[commit]
	gpgsign = true
[pull]
	rebase = false
[push]
	autoSetupRemote = true

[core]
	excludesfile = /Users/dmichael/.gitignore
